@use "../../styles/variables";

.card-new {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22.5rem;
  height: 12.5rem;
  border: 5px solid variables.$primary-green;
  border-radius: 0.625rem;
  background-color: transparent;
  cursor: pointer;
  
  span {
    padding-bottom: 1.875rem;
    color: variables.$primary-green;
    font-size: 12.5rem;
  }
}

.modal {
  
  &-header {
    color: variables.$subtitle-text;;
    background-color: variables.$primary-gray;
  }


  &-body {
    background-color: variables.$primary-gray;
    color: variables.$subtitle-text;
  }
  
  .submit-button {
    color: variables.$subtitle-text;
    background-color: variables.$primary-green;
    border: none;
    padding: 0.5rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

