// Fonts
$fontMain: "Ubuntu",  sans-serif;

// Colors
$primary-green: #58BC48;
$primary-white: #FFFFFF;
$primary-gray: #15212C;
$subtitle-text: #C6D8E9;
$card-background: #232526;
$card-background-hover: #191B1C;


