@use '../../styles/variables';

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: variables.$primary-gray;
  color: variables.$subtitle-text;
  padding: 30px 0 32px;

  article {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.149rem;
  }
}